<table class="striped">
  <tbody>
  @for (job of jobs; track job.id) {
    <tr>
      <td><img ngSrc="{{ job.companyLogo }}" alt="Logo de {{ job.companyName }}" width="100" height="100" /></td>
      <td>
        <p><b>{{ job.title }}</b></p>
        <p>Company : {{ job.companyName }}</p>
        <p>Reference : {{ job.reference }}</p>
      </td>
      <td><span class="icon-star" id="star-{{ job.id }}" [appFavorite]="job"></span></td>
    </tr>
  } @empty {
    <tr>There are no jobs.</tr>
  }
  </tbody>
</table>
