<div class="container">
    @for (job of favoriteJobs(); track job.id) {
      <div class="row">
        <div class="col-sm-2">
          <img ngSrc="{{ job.companyLogo }}" alt="Logo de {{ job.companyName }}" width="100" height="100" />
        </div>
        <div class="col-sm">
          <a routerLink="/jobs/{{ job.id }}"><h2><b>{{ job.title }}</b></h2></a>
          <p class="company-reference">
            <span>Company : {{ job.companyName }}</span>
            <span>Reference : {{ job.reference }}</span>
          </p>
        </div>
      </div>
    } @empty {
      <div class="row">
        <div class="col-sm">
          <p>No favorite selected</p>
        </div>
      </div>
    }
</div>
